@tailwind base;
@tailwind components;
@tailwind utilities;


 @layer components{
button{
    margin: 10px;
    padding: 10px;
    background-color: rgb(12, 152, 240);
     border-radius: 5px;
    color: white;

    
}


button:disabled{
 background-color: rgb(240, 235, 235);
 color: black;
 cursor: not-allowed;
    }
 }
